
    //ширина сторінки і блоків
$page-max-width: 1600px;
$content-max-width: 1200px;
  
    // кольри
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primari-white-color: #ffffff;
$footer-bg-color: #2f303a;
$footer-grey-color: rgba(255, 255, 255, 0.6);

  // шрифти і їхні властивості
$primari-fonts: 'Roboto', sans-serif;
$secondary-fonts: 'Raleway', sans-serif;

 //анімації

$cubic-bezier: 0.4, 0, 0.2, 1;